<div class="container">
  <div class="breadcrumb mb-4">
    <a routerLink="/">House list</a> > {{ id ? f['houseNumber'].value || 'House Number' : 'New House' }}
  </div>
  <h1 class="title">{{ f['houseNumber'].value || '[House number]' }}</h1>
  <form class="house-form" [formGroup]="houseForm">
    <div class="form-row">
      <label>
        House Number
        <input type="text" formControlName="houseNumber" />
        @if (f['houseNumber'].touched && f['houseNumber'].errors) {
          <div class="error">
            @if (f['houseNumber'].errors['required']) {
              <span>House number is required</span>
            }
            @if (f['houseNumber'].errors['duplicate']) {
              <span>Your house number is already used</span>
            }
          </div>
        }
      </label>

      <label>
        Block number
        <input type="text" formControlName="blockNumber" />
        @if (f['blockNumber'].touched && f['blockNumber'].errors?.['required']) {
          <div class="error">Block number is required</div>
        }
      </label>

      <label>
        Land number
        <input type="text" formControlName="landNumber" />
        @if (f['landNumber'].touched && f['landNumber'].errors?.['required']) {
          <div class="error">Land number is required</div>
        }
      </label>

      <label>
        House type
        <select formControlName="houseType">
          <option value="">-- Select House Type --</option>
          <option>Apartment</option>
          <option>Townhouse</option>
          <option>Villa</option>
        </select>
      </label>
    </div>

    <div class="form-row">
      <label>
        House model
        <select formControlName="model">
          <option value="">-- Select Model --</option>
          <option>apartment-1</option>
          <option>apartment-2</option>
        </select>
      </label>

      <label>
        Price
        <input type="number" formControlName="price" />
        @if (f['price'].touched && f['price'].errors) {
          <div class="error">
            @if (f['price'].errors['required']) {
              <span>Price is required</span>
            }
            @if (f['price'].errors['pattern']) {
              <span>Only numbers allowed</span>
            }
            @if (f['price'].errors['min']) {
              <span>Price must be greater than 0</span>
            }
          </div>
        }
      </label>

      <label>
        Status
        <select formControlName="status">
          <option value="">-- Select Status --</option>
          <option>Available</option>
          <option>Booked</option>
        </select>
      </label>
    </div>

    <div class="form-actions mt-4">
      <button type="button" class="btn btn-submit" [disabled]="houseForm.invalid" (click)="onCreateUpdate()">
        {{ id ? 'Edit' : 'Create' }}
      </button>
    </div>
  </form>
</div>
