<!--  <div class="position-relative">-->
<!--    <input-->
<!--      class="w-100"-->
<!--      [placeholder]="config.placeholder"-->
<!--      [maxLength]="config.maxLength"-->
<!--      [minLength]="config.minLength"-->
<!--    >-->
<!--    <span *ngIf="config.isHaveSuffix" class="input-unit">{{ config.suffixValue }}</span>-->
<!--  </div>-->


<!--<span class="fs-small color-hint" *ngIf="config.maxLength">-->
<!--  {{ config.formControl?.value?.length || 0 }}/{{ config.maxLength }}-->
<!--</span>-->

<!--&lt;!&ndash;<div&ndash;&gt;-->
<!--&lt;!&ndash;  [showErrors]="config.isShowError && !(config.formControl?.valid || config.formControl?.untouched)"&ndash;&gt;-->
<!--&lt;!&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  <span *ngIf="config.formControl.errors?.required">&ndash;&gt;-->
<!--&lt;!&ndash;    {{ config.label | toRequired }}&ndash;&gt;-->
<!--&lt;!&ndash;  </span>&ndash;&gt;-->
<!--&lt;!&ndash;  <span *ngIf="config.formControl.errors?.maxlength">&ndash;&gt;-->
<!--&lt;!&ndash;    Vui lòng nhập tối đa {{ config.maxLength }} ký tự&ndash;&gt;-->
<!--&lt;!&ndash;  </span>&ndash;&gt;-->
<!--&lt;!&ndash;  <span *ngIf="config.formControl.errors?.minlength">&ndash;&gt;-->
<!--&lt;!&ndash;    Vui lòng nhập ít nhất {{ config.minLength }} ký tự&ndash;&gt;-->
<!--&lt;!&ndash;  </span>&ndash;&gt;-->
<!--&lt;!&ndash;  <ng-content select="[errorMsg]"></ng-content>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
